<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9faa">  <td>18/02/28 09:43:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browser_Activities.Open_Browser(java.lang.String)[pri:0, instance:orbitz.test.Test_Flight_Booking@59494225]">&gt;&gt;Open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@515769106</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>18/02/28 09:43:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browser_Activities.Open_Browser(java.lang.String)[pri:0, instance:orbitz.test.Test_Flight_Booking@14bf9759]">&gt;&gt;Open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1004879890</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/02/28 09:44:01</td>   <td>7003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Flight_Booking.roundTrip_Booking()[pri:0, instance:orbitz.test.Test_Flight_Booking@14bf9759]">roundTrip_Booking</td> 
  <td>TestNG@1004879890</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>18/02/28 09:44:03</td>   <td>8670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Flight_Booking.roundTrip_Booking()[pri:0, instance:orbitz.test.Test_Flight_Booking@59494225]">roundTrip_Booking</td> 
  <td>TestNG@515769106</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>18/02/28 09:44:35</td>   <td>40242</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browser_Activities.close_Browser()[pri:0, instance:orbitz.test.Test_Flight_Booking@14bf9759]">&lt;&lt;close_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1004879890</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>18/02/28 09:44:55</td>   <td>60467</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browser_Activities.close_Browser()[pri:0, instance:orbitz.test.Test_Flight_Booking@59494225]">&lt;&lt;close_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@515769106</td>   <td></td> </tr>
</table>
